.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test
.env.production
/node_modules/

# Next.js
/.next/
/out/
/build/

# Debug
*.cpuprofile
npm-debug.log*

# Misc
*.tsbuildinfo
next-env.d.ts

/.claude/